.banner {
  position: relative;
  height: 16vw;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--primary-color);
}

.image {
  object-fit: cover;
}

@media (max-width: 425px) {
  .banner {
    height: 32vw;
  }
}
