.banner {
  height: 16vw;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
}

.preview {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.subscribe {
  background-color: var(--contrast-color);
  padding: 0.75rem 1.25rem;
  width: 6.375rem;
  height: 2.625rem;
  border-radius: 5rem;
}

.info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.avatar {
  background-color: var(--primary-color);
  height: 8rem;
  width: 8rem;
  border-radius: 100%;
}

.meta {
  height: 1.5rem;
  width: 6.375rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.meta:last-of-type {
  margin: 0;
}

.videos {
  height: 6.5rem;
  margin-top: 1.25rem;
  padding: 1.25rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
}

@media (max-width: 1024px) {
  .videos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .preview {
    flex-direction: column;
    padding: 1rem 0.5rem;
  }
  .subscribe {
    width: 100%;
  }
  .videos {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 425px) {
  .banner {
    height: 32vw;
  }
  .preview {
    flex-direction: column;
  }
  .avatar {
    width: 10rem;
    height: 10rem;
  }
  .info {
    flex-direction: column;
  }
}
