.errorContainer {
  height: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.reset {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: none;
  padding: 0;
  background: url("../../../public/assets/refresh.svg");
  transition: transform 0.25s ease-in-out;
  filter: invert(var(--image-invert-color));
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.show {
  cursor: pointer;
  font-size: 1rem;
  background-color: brown;
  color: var(--contrast-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}

.message {
  font-size: 1.25rem;
}

.reset:hover {
  transform: rotate(180deg) scale(1.1);
}

.errorDisplay {
  max-width: 70rem;
  background-color: var(--third-color);
  border-radius: 0.5rem;
  padding: 1rem;
}
