.videos {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 1.25rem;
  padding: 1.25rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
}

.withoutVideos {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
  grid-column: 1 / -1;
}

@media (max-width: 1024px) {
  .videos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .videos {
    grid-template-columns: repeat(1, 1fr);
  }
}
