.categories {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  padding: 1.25rem;
}

.categoriesInner {
  display: flex;
  gap: 1.75rem;
  flex-wrap: nowrap;
  min-width: 100%;
  overflow-x: auto;
}

.compactCategories {
  position: sticky;
  top: 3.938rem;
  left: 0;
  width: 100%;
  background-color: var(--blur-color);
  backdrop-filter: saturate(180%) blur(1.25rem);
  padding: 0.25rem 1.25rem 0.75rem 1.25rem;
  z-index: 7999;
}
