.trailer {
  display: flex;
  gap: 1rem;
}

.player {
  max-width: 37rem;
  min-width: 37rem;
  height: 22rem;
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
}

.title {
  font-size: 1rem;
  margin: 0 0 0.5rem;
}

.description {
  margin: 0;
  font-size: 1rem;
  max-height: 5rem;
  max-width: 55rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: initial;
}
