.preview {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.avatar {
  position: relative;
  height: 8rem;
  min-width: 8rem;
  width: 8rem;
  border-radius: 100%;
  overflow: hidden;
}

.title {
  font-size: 1.75rem;
  margin: 0 0 1rem;
  color: var(--contrast-color);
}

.subscribe {
  cursor: pointer;
  font-weight: 700;
  background-color: var(--contrast-color);
  color: var(--secondary-color);
  padding: 0.75rem 1.25rem;
  font-size: 0.85rem;
  border: none;
  border-radius: 5rem;
  text-align: center;
}

.customUrl,
.viewCount {
  color: #6f7176;
  margin: 0 0 0.5rem;
  font-weight: 400;
  font-size: 1rem;
}

.viewCount {
  margin: 0;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .preview {
    flex-direction: column;
    padding: 1rem 0.5rem;
  }
  .subscribe {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .preview {
    flex-direction: column;
  }
  .avatar {
    width: 10rem;
    height: 10rem;
  }
  .title {
    text-align: center;
  }
  .customUrl,
  .viewCount {
    text-align: center;
  }
  .info {
    flex-direction: column;
  }
}
