.unwrap {
  cursor: pointer;
  width: 100%;
  max-height: 5rem;
  overflow: hidden;
  border-radius: 0.5rem;
  border: none;
  background-color: #272727;
  text-align: initial;
}

.unwrap:hover {
  background-color: #444;
}

.description {
  color: var(--contrast-color);
  margin: 0;
  font-size: 1rem;
}

.row {
  margin: 0.5rem;
}
