.wrapped {
  cursor: pointer;
  width: 100%;
  max-height: 5rem;
  overflow: hidden;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--third-color);
  text-align: initial;
}

.wrapped:hover {
  background-color: var(--third-dark-color);
}

.unwrapped {
  text-align: initial;
  background-color: var(--third-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.description {
  color: var(--contrast-color);
  margin: 0;
  font-size: 1rem;
}

.row {
  margin: 0.5rem;
}
