html {
  --primary-color: #101113;
  --primary-contrast-color: #0a0b0c;
  --contrast-color: #ececec;
  --secondary-color: #151719;
}

body {
  color: var(--contrast-color);
  background: var(--secondary-color);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

*::-webkit-scrollbar-track-piece {
  background-color: #1e2224;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--contrast-color);
  border-radius: 1rem;
}

*::-webkit-scrollbar-corner {
  background-color: #1e2224;
}

#root-layout {
  margin: 0 1rem;
}
