.header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--blur-color);
  backdrop-filter: saturate(180%) blur(1.25rem);
  padding: 1rem;
  z-index: 7999;
}
