.search {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 1.25rem;
  padding: 1.25rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
}

.video {
  width: calc((100vw - 7.5rem) / 4);
  height: calc((100vw - 7.5rem) / 7);
  background-color: #6f7176;
  border-radius: 0.5rem;
}

@media (max-width: 1024px) {
  .search {
    grid-template-columns: repeat(3, 1fr);
  }
  .video {
    width: calc((100vw - 7.5rem) / 3);
    height: calc((100vw - 7.5rem) / 5);
  }
}

@media (max-width: 768px) {
  .search {
    grid-template-columns: 1fr;
  }
  .video {
    width: 100%;
    height: calc(100vw - 7.5rem);
  }
}
