.search {
  position: relative;
  width: 100%;
  max-width: 30rem;
  background-color: var(--primary-contrast-color);
  border-radius: 0.5rem;
}

.field {
  color: var(--contrast-color);
  height: 100%;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 2rem;
  background-color: var(--primary-contrast-color);
  border: none;
  border-radius: 0.5rem;
}

.searchHelper {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  height: 1rem;
  width: 1rem;
  background: url("/assets/search.svg") no-repeat center center;
}

.searchSubmit {
  cursor: pointer;
  position: absolute;
  right: -4.35rem;
  background-color: var(--primary-contrast-color);
  color: var(--contrast-color);
  border: none;
  padding: 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
