.player {
  width: 100%;
  height: 45rem;
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 0 0;
}

.title {
  font-size: 1.5rem;
  margin: 0;
}

.like {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--third-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.dislike {
  background-color: var(--third-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  transform: scale(-1);
}

.action {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.actionIcon {
  filter: invert(var(--image-invert-color));
}

.channel {
  display: inline-block;
  margin: 0.5rem 0 1rem 0;
  color: #6f7176;
  margin: 0.5rem 0 1rem 0;
  font-weight: 700;
  font-size: 1.15rem;
}

.views {
  margin: 0;
  font-size: 1.25rem;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .player {
    height: 30rem;
  }
  .info {
    flex-direction: column;
    align-items: initial;
    gap: 0.25rem;
  }
  .action {
    align-self: flex-end;
  }
}

@media (max-width: 425px) {
  .player {
    height: 20rem;
  }
}
