.replies {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
}

.replyContainer {
  display: flex;
  gap: 0.5rem;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

.authorInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.authorName {
  margin: 0;
}

.authorText {
  margin: 0 0 0.15rem;
}

.publishedAt {
  margin: 0;
  font-size: 0.8rem;
  color: #aaa;
}

.action {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.like {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.8rem;
  padding: 0 0.25rem;
  color: #aaa;
  border-radius: 0.5rem;
}

.dislike {
  display: block;
  padding: 0 0.25rem;
  border-radius: 0.5rem;
  transform: scale(-1);
}

.like:hover,
.dislike:hover {
  background-color: var(--third-color);
}

.loadMore {
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--third-color);
  padding: 0.5rem;
  color: var(--contrast-color);
}

.likeIcon {
  filter: invert(var(--image-invert-color));
}
